$header-color: #4b525a;
$main-font: 'Quicksand', sans-serif;

body {
  #root {
    .App {
      .board {
        .header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          background-color: $header-color;
          font-family: $main-font;
          padding: 0em 1em;
          height: 2.5em;

          .kanban-tools {
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: flex-start;
            align-items: center;

            .header-title {
              margin-right: 1em;
              font-weight: 400;
              font-size: 1.2em;
              color: #fff;
            }
          }
        }
      }
    }
  }
}